body{

    background: linear-gradient(to right, #38398B,#6270CA);
    margin: auto;
    overflow:auto;
    overflow-x: hidden;
}

.gradient-text {

    background: linear-gradient(to right, gold, darkorange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: white;
    text-shadow: gold -1px -1px;
}

hr{ 
    color: linear-gradient(to right, darkorange, gold, silver);
}

.intro-paragraph{

    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.image{

    border: 2px solid black;
    text-align: center;
    margin: 0px;
    padding-top: 0%;
}

h5{
    text-align: center;
}

.image{

    background-color: white;
}

.header2{

    background: linear-gradient(to right, gold, darkorange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    text-decoration: solid;
}

.statement{

    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: small;
}

.para2{

    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    
}

.para3{

    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.image2{

    border: 2px solid black;
    background-color: white;

}

.title{

    text-align: center;
}

.para4{

    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.para5{

    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.image2{

    text-align: center;
}

.header3{

    background: linear-gradient(to right, gold, darkorange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    text-decoration: underline;

}

.para6{

    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}


.para7{

    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.Header4{

    background: linear-gradient(to right, gold, darkorange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    text-decoration: underline;

}

.images{
    
    background: linear-gradient(to right, gold, darkorange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    text-decoration: underline;
}

.im1{

    background-color: white;
    border: 2px solid black;

}

.im2{

    background-color: white;
    border: 2px solid black;

}

.im3{

    background-color: white;
    border: 2px solid black;

}

.im4{

    background-color: white;
    border: 2px solid black;

}

.im5{

    background-color: white;
    border: 2px solid black;

}

.im6{

    background-color: white;
    border: 2px solid black;

}

.im7{

    background-color: white;
    border: 2px solid black;

}

.im8{

    background-color: white;
    border: 2px solid black;

}

.myself{
    
    background: linear-gradient(to right, gold, darkorange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    text-decoration: underline;

}

.para8{

    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}